/*
// BREAK AT 970
*/
html {
    background-color: deeppink;
}

body {

    background: linear-gradient(144deg, #3d0083, #ac0025, #8a00bd, #02659d, #763500, #766400, #9d0089, #2700c3);
    background-size: 1600% 1600%;

    -webkit-animation: gradient 59s ease infinite;
    -moz-animation: gradient 59s ease infinite;
    animation: gradient 59s ease infinite;

    padding: 0;
    margin: 0;
}

div {
    transition: all 0.5s ease;

}
* {
    transition: all 0.5s ease;

}
/*
font-family: 'Averia Libre', sans-serif;
font-family: 'Miniver', sans-serif;
font-family: 'Poller One', sans-serif;*/
.chart-list {
}
.loading-zone{
    font-family: 'Averia Libre', sans-serif;
    color: rgba(255, 255, 255, 0.95);
}
.rank {
    font-family: 'Averia Libre', sans-serif;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: -2px;
    color: rgba(255, 255, 255, 0.95);
}

.by {
    font-family: 'Miniver', sans-serif;
    text-shadow: -1px 0px 6px rgba(255, 17, 168, 0.9);
}

.song-name {
    text-shadow: -1px 0px 6px rgba(255, 255, 255, 0.95);
    color: #fff;
    font-family: 'Averia Libre', sans-serif;
    font-size: 30px;
    letter-spacing: 0px;
    line-height: 30px;
}

.song-artist {
    font-family: 'Averia Libre', sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
}

.top-fixed {
    width: 100%;
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: deeppink;
}

.bottom-fixed {
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: deeppink;
}

.track-name {
    position: fixed;
    top: -41px;
    right: 40px;
    color: #fff;
    font-family: 'Miniver', sans-serif;
    text-shadow: -1px 0px 6px rgba(255, 17, 168, 0.9);
    font-size: 41px;
}

.fixed-logo-img {
    position: fixed;
    bottom: -30px;
    right: -30px;
}

.container {
    padding: 20px;
    border: 40px solid deeppink;

}

.details {
    position: fixed;
    right: 50px;
    top: 50px;
    bottom: 10px;
    text-align: center;
    width: 50%;
    color: deeppink;
    overflow-y: scroll;
}

.round {
    border-radius: 100%;
    border: 40px solid deeppink;
    text-align: center;
    margin: 0 auto;
}

.artist-bio {
    margin-right: 185px;
    line-height: 17px;
    font-size: 18px;
    color: #fff;
    letter-spacing: 0px;
    font-family: 'Averia Libre', sans-serif;
    text-align: justify;

}

a {
    color: deeppink;
    text-decoration: none;
    padding: 5px;
}

a:hover {
    background-color: deeppink;
    color: #fff;
    text-decoration: none;
}

.song-span {
}

.f-left {
    float: left;
}

.pad-10 {
    padding: 10px;
}

.vid-container {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
}

.vid-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

@-webkit-keyframes gradient {
    0% {
        background-position: 29% 0%
    }
    50% {
        background-position: 72% 100%
    }
    100% {
        background-position: 29% 0%
    }
}

@-moz-keyframes gradient {
    0% {
        background-position: 29% 0%
    }
    50% {
        background-position: 72% 100%
    }
    100% {
        background-position: 29% 0%
    }
}

@keyframes gradient {
    0% {
        background-position: 29% 0%
    }
    50% {
        background-position: 72% 100%
    }
    100% {
        background-position: 29% 0%
    }
}
@media screen and (max-width: 650px) {
    .track-name{
        top: -8px;
        font-size: 23px;
    }
    .by-artist{
       position: fixed;
        bottom: 10px;
        left: 40px;
    }
    img {
        max-width: 100px;
    }
    .round{
        border: 20px solid deeppink;
    }

}
@media screen and (max-width: 950px) {
    .track-name {
        top: -8px;
        font-size: 23px;
    }
}
@media screen and (max-width: 950px) {

    .details-container{
        margin-top: -69px;
        margin-left: 30px;
        margin-right: -70px;
    }

    .chart-list {
        margin-top: 78px;
    }
    .details {
        clear: both;
        position: relative;
        width: 100%;

    }
    .artist-bio {
        display: none;
    }
}
@media screen and (max-device-width: 640px){

    .details {
        clear: both;
        position: relative;
        width: 100%;
    }
    .details-container{
        margin-top: -69px;
        margin-left: 30px;
        margin-right: -70px;
    }
    .details-video-container{

    }
    .chart-list {
        margin-top: 78px;
    }

    .song-name{
        z-index: 1000;
        font-size: 56px;
    }
    .song-artist{
        z-index: 1000;
        font-size: 45px;
    }
    .by{
        font-size: 45px;
    }
    .details-container{
        margin-top: -69px;
        margin-left: 28px;
        margin-right: -68px;
    }
    .details-video-container{

    }
    .chart-list {
        margin-top: 78px;
    }

    .artist-bio {
        display: none;
    }
    .round{
        border: 40px solid deeppink !important;
    }
}
