<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300|Roboto+Mono:100i|Droid+Serif" rel="stylesheet">
    <title>newsTroff</title>
</head>
<body>
<div class="nav-bar">
    <h1 class=" roboto-mono rotate">newsTroff</h1>


</div>
<div ng-app="newsTroff" ng-controller="myCtrl">
    <div class="container">


            <div  ng-repeat="article in articles | orderBy:'publishedAt':true" class=" box greenlink">

                <a href="{{article.url}}" target="_blank"><h3 class="title roboto-mono">{{ article.title| limitTo: 80
                    }}{{article.title.length > 80 ? '...' : ''}}</h3></a>

                <p class="description roboto"  ng-if="article.description.length > 65">{{ article.description | limitTo: 200 }}{{article.description.length > 200
                    ? '...' : ''}}</p>
                <h3 class="big-description roboto-mono" ng-if="article.description.length < 65">{{article.description}}</h3>
                <h1 ng-if="!article.description" class="center"> ¯\_(ツ)_/¯ </h1>

<div class="date roboto-mono">{{article.publishedAt |  date:'MM-dd HH:mm ' }}</div>
                <p><span class="author roboto-con uppercase">{{article.author | limitTo: 50 }}{{article.author.length > 50 ? '...' : ''}}</span>
                    <span class="roboto-mono url "> <a href="{{article.url}}"
                                                       target="_blank"> {{article.url | replace}}</a></span>
                </p>

            </div>
        </div>
        <div class="center greenlink powered-by"><a href="http://wwww.newsapi.org">powered by NewsAPI.org</a>
            <a href="mailto:jonathanlouiswerber@gmail.com">, built by Jonathan Werber</a></div>
    </div>
</div>
</body>
</html>
<script src="scripts.js"></script>
