$color1: rgba(228, 87, 46, 1);
$color2: rgba(217, 207, 193, 1);
$color3: rgba(41, 51, 92, 1);
$color4: rgba(84, 180, 143, 1);
$color5: rgba(244, 181, 53, 1);

.roboto-con {
  font-family: 'Roboto Condensed', sans-serif;
}

.roboto {
  font-family: 'Roboto', serif;
}

.roboto-mono {
  font-family: 'Roboto Mono', monospace;
}
.droid-serif{
  font-family: 'Droid Serif', serif;

}

.greenlink {
  a {
    color: #00cc00;
    text-decoration: none;
  }
}

body {
  background:url(
  data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAK0lEQVQoU2NkOMPwn8GDgYFhBwMDPpqRQYThPwMhsIOBgTiFDMQqHLEmAgBTAxNh5LxvVAAAAABJRU5ErkJggg==
  ) repeat;
  background-attachment: fixed;
  background-color: black;
}

.nav-bar {
  height: 100vh;
  left: 0;
  top: 0;
  position: fixed;
  width: 70px;
  color: #D5F5DE;
  background:url(

  data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAJklEQVQoU2NkOMPwn8GZgYFhLwMDPpqRgZ/hPyFFIHnGUROpEo4AR+I7SNbBG6UAAAAASUVORK5CYII=
  ) repeat;
}


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-left: 70px;
}

.box {
  position: relative;
  background-color: #080909;
  overflow: hidden;
  height: 310px;
  width: 290px;
  border: .5px white solid;
  padding: 5px 10px;
  margin: 7px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @media screen and (max-width: 700px) {
    width: 90%;
  }
}

.title {
  padding: 5px 0 0 15px;
  margin: 2px;
  text-align: right;
  font-size: 18px;
  line-height: 17px;
}

.author {
  font-size: 13px;
  line-height: 10px;
}

.url {
  font-size: 14px;
  letter-spacing: -1px;
  line-height: 10px;
  color: white;
}
.description{
 padding-left: 15px;
  font-size: 14px;
  line-height: 22px;
  text-align: right;
}

.date{
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  font-size: 14px;
  left: -36px;
  top: 46px;
  position: absolute;
  color: #fff;
}

.uppercase {
  text-transform: uppercase;
}

.color1 {
  background-color: $color1;
}

.color2 {
  background-color: $color2;
}

.color3 {
  background-color: $color3;
}

.color4 {
  background-color: $color4;
}

.color5 {
  background-color: $color5;
}

.rotate {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  margin: 230px 10px 0px 0px;
  font-size: 50px;
}

.center {
  text-align: center;
}

.powered-by{
  padding: 10px;
  a {
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
    text-decoration: none;
  }
}
