$color1: rgba(228, 87, 46, 1);
$color2: rgba(217, 207, 193, 1);
$color3: rgba(41, 51, 92, 1);
$color4: rgba(84, 180, 143, 1);
$color5: rgba(244, 181, 53, 1);

.roboto-con {
  font-family: 'Roboto Condensed', sans-serif;
}

.roboto {
  font-family: 'Roboto', serif;
}

.roboto-mono {
  font-family: 'Roboto Mono', monospace;
}

.greenlink {
  a {
    color: #00cc00;
  }
}

body {
  background-color: #101111;
}

.nav-bar {
  height: 100vh;
  left: 0;
  top: 0;
  position: fixed;
  width: 90px;
  background-color: #00cc00;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-left: 70px;
}

.box {
  background-color: #080909;
  overflow: hidden;
  height: 300px;
  width: 300px;
  border: .5px white solid;
  padding: 5px 10px;
  margin: 5px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @media screen and (max-width: 700px) {
    width: 90%;
  }
}

.title {
  padding: 2px;
  margin: 2px;
}

.author {
  font-size: 13px;
  line-height: 10px;
}

.url {
  font-size: 14px;
  letter-spacing: -1px;
  line-height: 10px;
  color: white;
}

.uppercase {
  text-transform: uppercase;
}

.color1 {
  background-color: $color1;
}

.color2 {
  background-color: $color2;
}

.color3 {
  background-color: $color3;
}

.color4 {
  background-color: $color4;
}

.color5 {
  background-color: $color5;
}

.rotate {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);

}

.center {
  text-align: center;
}

