<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <title>News Dribble</title>
</head>

<body ng-app="celebrityNews" ng-controller="mainCtrl">
<header>

    <img src="logo.png" alt="">
</header>


    <!-- START CONTAINER -->
<div class="container ">
    <!-- START CONTAINER -->



    <!-- START LEFT SIDE COL -->
    <div class="left-side">

        <div ng-init="getEntertainmentWeekly()">
            <div ng-repeat="article in entertainmentWeekly">
                <img ng-if="$index %2 == 0" src="{{article.urlToImage}}" alt="{{article.title}}">
                <a href="{{article.url}}">{{article.title}}</a>

            </div>
        </div>

        <div ng-init="getReddit()">
            <div ng-repeat="article in reddit">
                <a href="{{article.url}}">{{article.title}}</a>
            </div>
        </div>

        <div ng-init="getMtvNewsUk()">
            <div ng-repeat="article in mtvNewsUk">
                <img src="{{article.urlToImage}}" alt="{{article.title}}">
                <a href="{{article.url}}">{{article.title}}</a>
            </div>
        </div>

    </div>
    <!-- END LEFT SIDE COL -->

    <!-- START MIDDLE COL -->

    <div class="main">

        <div ng-init="getMtvNews()">
            <div ng-repeat="article in mtvNews">
                <img src="{{article.urlToImage}}" alt="{{article.title}}">

                <p>{{article.title}}. {{article.description}}</p>
                <a href="{{article.url}}">{{article.author}}</a>, @ MTV NEWS


            </div>
        </div>

        <div ng-init="getHuffPo()">
            <div ng-repeat="article in huffPo">
                <img ng-if="$index %3 == 0" src="{{article.urlToImage}}" alt="{{article.title}}">

                <p>{{article.description}}</p>
                <a href="{{article.url}}">{{article.author}}</a>, @ HUFFPO

            </div>
        </div>



    </div>
    <!-- END MIDDLE COL -->


    <!-- START RIGHT SIDE COL -->
    <div class="right-side">

        <div ng-init="getDailyMail()">
            <div ng-repeat="article in dailyMail">
                <img ng-if="$index %3 == 0" src="{{article.urlToImage}}" alt="{{article.title}}">
                <a href="{{article.url}}">{{article.title}}</a>
            </div>
        </div>



        <div ng-init="getMirror()">
            <div ng-repeat="article in mirror">
                <img ng-if="$index %2 == 0" src="{{article.urlToImage}}" alt="{{article.title}}">
                <a href="{{article.url}}">{{article.title}}</a>
            </div>
        </div>

    </div>
    <!-- END RIGHT SIDE COL -->



    <!-- END CONTAINER -->
</div>
    <!-- END CONTAINER -->


<footer>footers</footer>

</body>
</html>
<script src="scripts.js"></script>
