body, html {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;

}

header {
  width: 100%;
  height: 120px;
  background-color: aquamarine;

}

.container {
  display: flex;
  flex-direction: row;
  @media screen and (max-width: 1200px) {
    flex-direction: column;
  }

}

.left-side {
  background-color: darkgreen;
  display: flex;
  flex-direction: column;
  width: 20%;
  @media screen and (max-width: 1200px) {
    width: 100%;
    order: 2;
  }
  img {
    max-width: 100%;
  }
}

.main {
  background-color: hotpink;
  width: 65%;
  @media screen and (max-width: 1200px) {
    width: 100%;
    order: 1;
  }
  img {
    max-width: 100%;
  }

}

.right-side {
  background-color: indianred;
  display: flex;
  flex-direction: column;
  width: 15%;
  @media screen and (max-width: 1200px) {
    width: 100%;
    order: 3;
  }
  img {
    max-width: 100%;
  }
}

footer {
  width: 100%;
  height: 120px;
  background-color: antiquewhite;
}