body, html {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-wrap: break-word; }

header {
  width: 100%;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.84);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 5px solid rgba(255, 158, 158, 0.9); }

.container {
  padding-top: 110px;
  display: flex;
  flex-direction: row; }
  @media screen and (max-width: 900px) {
    .container {
      flex-direction: column; } }

.article-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.left-side {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 20%;
  justify-content: space-between; }
  @media screen and (max-width: 900px) {
    .left-side {
      width: 100%;
      order: 2; } }
  .left-side img {
    width: 98%;
    max-width: 98%;
    margin: 10px 1%; }

.main {
  background-color: #fff;
  width: 65%;
  text-align: center; }
  @media screen and (max-width: 900px) {
    .main {
      width: 100%;
      order: 1; } }
  .main img {
    max-width: 96%;
    margin: 10px 2%; }

.right-side {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15%; }
  @media screen and (max-width: 900px) {
    .right-side {
      width: 100%;
      order: 3; } }
  .right-side img {
    max-width: 98%;
    margin: 10px 1%; }

footer {
  width: 100%;
  height: 120px;
  background-color: #fff; }

.pad-25 {
  padding: 25px 10px; }

.gold {
  color: goldenrod; }

.gold-underline {
  background: linear-gradient(to bottom, transparent 0, transparent 80%, goldenrod 80%, goldenrod 100%);
  border-bottom: 2px goldenrod solid; }

.gold-link {
  color: goldenrod;
  background: linear-gradient(to bottom, transparent 0, transparent 80%, goldenrod 80%, goldenrod 100%);
  border-bottom: 2px goldenrod solid;
  line-height: 37px;
  font-size: 25px; }
  .gold-link a {
    color: goldenrod; }

.blue {
  color: darkslateblue; }

.blue-underline {
  background: linear-gradient(to bottom, transparent 0, transparent 80%, darkslateblue 80%, darkslateblue 100%);
  border-bottom: 2px darkslateblue solid; }

.blue-link {
  color: darkslateblue;
  background: linear-gradient(to bottom, transparent 0, transparent 80%, darkslateblue 80%, darkslateblue 100%);
  border-bottom: 1px darkslateblue solid;
  line-height: 30px;
  font-size: 17px; }
  .blue-link a {
    color: darkslateblue; }

.pink {
  color: deeppink; }

.pink-underline {
  background: linear-gradient(to bottom, transparent 0, transparent 80%, deeppink 80%, deeppink 100%);
  border-bottom: 2px deeppink solid; }

.pink-link {
  color: deeppink;
  background: linear-gradient(to bottom, transparent 0, transparent 80%, deeppink 80%, deeppink 100%);
  border-bottom: 1px deeppink solid;
  line-height: 32px;
  font-size: 17px; }
  .pink-link a {
    color: deeppink; }

.grey {
  color: #686868; }

.grey-underline {
  background: linear-gradient(to bottom, transparent 0, transparent 80%, #686868 80%, #686868 100%);
  border-bottom: 2px #686868 solid; }

.grey-link {
  color: #686868;
  font-family: 'Poppins', sans-serif; }
  .grey-link a {
    color: #686868; }

.uppercase {
  text-transform: uppercase; }

.center {
  text-align: center; }

a {
  text-decoration: none; }

.shrikhand {
  font-family: 'Shrikhand', cursive; }

.comfortaa {
  font-family: 'Comfortaa', sans-serif; }

.poppins {
  font-family: 'Poppins', sans-serif; }

.fs-18 {
  font-size: 18px;
  line-height: 17px; }

.fs-25 {
  font-size: 25px;
  line-height: 24px; }

.fs-36 {
  font-size: 36px;
  line-height: 35px; }

.fs-48 {
  font-size: 48px;
  line-height: 45px; }

.margin-10 {
  margin: 10px; }

.margin-15 {
  margin: 15px; }

.margin-20 {
  margin: 20px; }

.margin-25 {
  margin: 25px; }

.top-link-margin {
  margin: 0 75px; }

/*# sourceMappingURL=style.css.map */
