<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald:200|Peddana|Vampiro+One" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <title>Movie App</title>
</head>
<body ng-app="movieApp" ng-controller="movieCtrl">

<div class="main-flex-container">
    <!--at full width: 80% / 20% column flex view,  -->
    <div class="main-content-container">
        <!--top part container, block view on desktop, flex row -->
        <div class="nav-bar dark-grey-bg off-white">
            <h1 class="vampiro fs-42 center mar-0">Film Search</h1>
            <form ng-submit="getMovieInfo()">

                <input onClick="this.setSelectionRange(0, this.value.length)" ng-model="movie"
                       class="search-input off-white-bg dark-red ">
                <h2 ng-click="getMovieInfo()" class="search-button medium-grey-bg off-white"> SEARCH</h2>
            </form>
            <p ng-if="result == false">Sorry, can't find it!</p>
            <div class="mar-top-50">
                <h2 class="film-button dark-red-bg " ng-click="randomMovie(animated)">Animated</h2>
                <h2 class="film-button dark-red-bg" ng-click="randomMovie(mindBending)">Mind Bending</h2>
                <h2 class="film-button dark-red-bg" ng-click="randomMovie(comingOfAge)">Coming of Age</h2>
                <h2 class="film-button dark-red-bg" ng-click="randomMovie(classics)">Classics</h2>
                <h2 class="film-button dark-red-bg" ng-click="randomMovie(oscars2017)">Oscars 2017</h2>
            </div>
        </div>

        <div class="content-container">
            <!-- 80% -->
            <div class="copy-block burgundy-bg off-white fo-1 ">
                <div>
                    <p class=" fs-46 mar-0 uppercase pad-10 mar-10 lh-46">{{movieObj.title}}</p>
                    <p class=" fs-18 mar-0 pad-15  mar-10 dark-red-bg rounded white-shadow">{{movieObj.year}},
                        {{movieObj.country}}, {{movieObj.genre}}</p>
                </div>
                <!-- TODO : USE TEXT SIZE SNIPPET FROM NEWS -->
                <p class="pad-5 peddana fs-24">{{movieObj.plot}}</p>
                <div class="flex-row">
                    <div class="circle-container pad-20">
                        <a href="http://www.imdb.com/title/{{movieObj.imdbAddress}}" target="_blank">
                            <div class="circle-50 light-grey-bg  gold-bg">
                                <span class="">{{movieObj.imdbRating}}</span>
                            </div>
                            <span
                                    class="pad-5">IMDB</span>
                        </a>
                    </div>

                    <div class="circle-container pad-20 ">
                        <a href="{{movieObj.tomatoUrl}}" target="_blank">
                            <div class="circle-50 dark-red-bg">
                                <p class="pad-5">{{movieObj.tomatoMeter}}</p>
                            </div>
                            <span class="">Rotten Tomatoes</span>
                        </a>
                    </div>

                </div>

            </div>

            <div class="media-block black-bg off-white fo-2 " id="video">
                <youtube ng-init="getMovieInfo()" width="{{yt.width}}" height="{{yt.height}}"
                         videoid="{{yt.videoid}}" class="right pad-5">
                </youtube>

                <div class="film-details">
                    <div class="pad-10 w-33">
                        <p class="mar-0 uppercase light-grey ls-2p5 ">Written by</p>
                        <p class="mar-0 pad-b-15">{{movieObj.writer}}</p>
                        <p class="mar-0 uppercase light-grey ls-2p5">Directed by </p>
                        <p class="mar-0">{{movieObj.director}}</p>
                    </div>

                    <div class="pad-10 w-33">
                        <p class="mar-0 uppercase light-grey ls-2p5 ">Starring </p>
                        <p class="mar-0 pad-b-15">{{movieObj.actors}}</p>
                        <p class="mar-0 uppercase light-grey ls-2p5 ">Written by </p>
                        <p class="mar-0 ">{{movieObj.writer}}</p>
                    </div>
                    <div class="poster-container center w-22">
                        <img src="{{movieObj.poster}}">
                    </div>


                </div>
            </div>

        </div>


    </div>

    <div class="previous-film-nav dark-red-bg off-white">
        <div ng-repeat="movieObj in searchHistory track by $index">
            <div ng-click="backToMovie(movieObj)" class="small-poster white-shadow ">
                <img class="" src="{{movieObj.poster}}">
            </div>
        </div>
    </div>

</div>

</div>

</body>
</html>
<script src="scripts.js"></script>
