body, html{
  padding: 0;
  margin: 0;
  background-color: black;
  font-family: 'Oswald', sans-serif;
}

/*#######################################      
START COLOR BLOCK
#######################################*/

.black{
  color: black;
}
.black-bg{
  background-color: black;
}

$burgundy : #0E0000;
.burgundy{
  color: $burgundy;
}
.burgundy-bg{
  background-color: $burgundy;
}

$dark-red : #520000;
.dark-red{
  color: $dark-red;
}
.dark-red-bg{
  background-color: $dark-red;
}

$dark-grey : #101010;
.dark-grey{
  color: $dark-grey;
}
.dark-grey-bg{
  background-color: $dark-grey;
}

$medium-grey : #191919;
.medium-grey{
  color: $medium-grey;
}
.medium-grey-bg{
  background-color: $medium-grey;
}

$light-grey: #7C7E80;
.light-grey{
  color: $light-grey;
}
.light-grey-bg{
  background-color: $light-grey;
}

$off-white : #EAEAEA;
.off-white{
  color: $off-white;
}
.off-white-bg{
  background-color: $off-white;
}
$gold : #a29337;
.gold{
  background-color: $gold;
}
.gold-bg{
  background-color: $gold;
}

/*#######################################      
END COLOR BLOCK
#######################################*/

/*#######################################
START FONT BLOCK
#######################################*/

.vampiro {
  font-family: 'Vampiro One', cursive;
}
.peddana {
  font-family: 'Peddana', serif;
}
.oswald {
  font-family: 'Oswald', sans-serif;
}

/*#######################################
END FONT BLOCK
#######################################*/


/*#######################################      
START BUILDING BLOCKS
#######################################*/
@media screen and (max-width: 900px){
  div {
    border: none;
  }
}

.main-flex-container{
  padding : 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  @media screen and (max-width: 900px){
    display: block;
    width: 100%;
    height: auto;
  }
}

.main-content-container{
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: row;
  @media screen and (min-width: 900px) and (max-width: 1100px){
    flex-direction: column;
  }
  @media screen and (max-width: 900px){
    flex-direction: column;
    width: 100%;
    height: auto;
  }
}

.nav-bar{
  border-left: 15px solid $burgundy;
  border-right: 15px solid $burgundy;

  height: 100%;
  width: 20%;
  @media screen and (max-width: 1100px){
    width: 100%;
    height: auto;
    border: none;
  }
}

.content-container{
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 80%;
  @media screen and (min-width: 900px) and (max-width: 1100px){
    width: 100%;
  }
  @media screen and (max-width: 900px){
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }
}
/* fo-1 and fo-2 are to place the video div at the top on smaller devices */
.fo-1{
  order: 1;
  @media screen and (max-width: 900px){
    order: 2;
  }
}
.fo-2{
  order: 2;
  @media screen and (max-width: 900px){
    order: 1;
  }
}

.copy-block{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 40%;
  @media screen and (max-width: 900px){
    display: block;
    width: 100%;
    height: auto;
  }
}

.media-block{
  height: 100%;
  width: 60%;
  border-right: 15px solid $burgundy;
  @media screen and (max-width: 900px){
    border: none;
    width: 100%;
    height: auto;
  }
}
.film-details{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
}
.poster-container{
  overflow:hidden;
  img {
    max-width: 100%;
  }
}

.previous-film-nav{
  height: 20%;
  min-height: 166px;
  width: 100%;
  border-top: 6px solid $burgundy;
  border-bottom: 10px solid $burgundy;
  display: flex;
  flex-direction: row;
  overflow: scroll;
  @media screen and (max-width: 900px){
    border: none;
    width: 100%;
    height: auto;

  }
}


/*#######################################      
END BUILDING BLOCKS
#######################################*/


/*#######################################      
START TEXT HELPERS
#######################################*/
.center{
  text-align: center;
}
.left{
  text-align: left;
}

.right{
  text-align: right;
}

.uppercase{
  text-transform: uppercase;
}

.fs-12{font-size : 12px; }
.fs-14{font-size : 14px; }
.fs-16{font-size : 16px; }
.fs-18{font-size : 18px; }
.fs-20{font-size : 20px; }
.fs-22{font-size : 22px; }
.fs-24{font-size : 24px; }
.fs-26{font-size : 26px; }
.fs-28{font-size : 28px; }
.fs-30{font-size : 30px; }
.fs-32{font-size : 32px; }
.fs-34{font-size : 34px; }
.fs-36{font-size : 36px; }
.fs-38{font-size : 38px; }
.fs-40{font-size : 40px; }
.fs-42{font-size : 42px; }
.fs-44{font-size : 44px; }
.fs-46{font-size : 46px; }
.fs-48{font-size : 48px; }
.fs-50{font-size : 50px; }
.fs-52{font-size : 52px; }
.fs-54{font-size : 54px; }
.fs-56{font-size : 56px; }
.fs-58{font-size : 58px; }
.fs-60{font-size : 60px; }
.fs-62{font-size : 62px; }
.fs-64{font-size : 64px; }
.fs-66{font-size : 66px; }
.fs-68{font-size : 68px; }
.fs-70{font-size : 70px; }

.ls-2p5{letter-spacing : 2.5px; }
.ls-5{letter-spacing : 5px; }
.ls-10{letter-spacing : 10px; }
.ls-15{letter-spacing : 15px; }
.ls-20{letter-spacing : 20px; }
.ls-25{letter-spacing : 25px; }
.ls-30{letter-spacing : 30px; }

.lh-46{line-height: 46px}
/*#######################################      
END END TEXT HELPERS
#######################################*/


/*#######################################      
START HELPER CLASS BLOCK
#######################################*/
.rounded {
  border-radius: 25px;
}
.pad-b-0{padding-bottom : 0px; }
.pad-b-5{padding-bottom : 5px; }
.pad-b-10{padding-bottom : 10px; }
.pad-b-15{padding-bottom : 15px; }
.pad-b-20{padding-bottom : 20px; }
.pad-b-25{padding-bottom : 25px; }
.pad-b-30{padding-bottom : 30px; }
.pad-b-35{padding-bottom : 35px; }
.pad-b-40{padding-bottom : 40px; }
.pad-b-45{padding-bottom : 45px; }
.pad-b-50{padding-bottom : 50px; }
.pad-b-55{padding-bottom : 55px; }
.pad-b-60{padding-bottom : 60px; }

.pad-0{padding : 0px; }
.pad-5{padding : 5px; }
.pad-10{padding : 10px; }
.pad-15{padding : 15px; }
.pad-20{padding : 20px; }
.pad-25{padding : 25px; }
.pad-30{padding : 30px; }
.pad-35{padding : 35px; }
.pad-40{padding : 40px; }
.pad-45{padding : 45px; }
.pad-50{padding : 50px; }
.pad-55{padding : 55px; }
.pad-60{padding : 60px; }

.mar-0{margin : 0px; }
.mar-5{margin : 5px; }
.mar-10{margin : 10px; }
.mar-15{margin : 15px; }
.mar-20{margin : 20px; }
.mar-25{margin : 25px; }
.mar-30{margin : 30px; }
.mar-35{margin : 35px; }
.mar-40{margin : 40px; }
.mar-45{margin : 45px; }
.mar-50{margin : 50px; }
.mar-55{margin : 55px; }
.mar-60{margin : 60px; }

.mar-top-50{margin-top: 50px;}

.small-poster{
  cursor: pointer;
  img {
    margin: 5px;
    max-height: 160px;
    object-fit: contain;
  }
}

.w-22{
  width: 22%;
}
.w-25{
  width: 25%;
}
.w-33{
width: 33.33%
}
.w-40{
  width: 40%
}
.w-20{
  width: 20%
}

.flex-row{
  display: flex;
  align-content: flex-end;
  justify-content: flex-end;
  flex-direction: row;
}

.circle-container{
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
  width: 50px;
  height: 150px;
  a {
    color: white;
    text-decoration: none;
  }
}
.circle-50{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  color: white;
  flex-direction: column;
  text-align: center;
}

.search-input{
  width: 90%;
  height: 30px;
  font-size: 16px;
  border-radius: 39px;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  margin: 5px auto;
  cursor: pointer;
}

.search-button{
  width: 90%;
  height: 30px;
  font-size: 28px;
  border-radius: 39px;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  margin: 5px auto;
  cursor: pointer;
  line-height: 30px;
}
.search-button:hover{
  background-color: $burgundy;
}
input[type=text]:focus {
  box-shadow: 0 0 3pt 2pt $burgundy;
}


.film-button {
  width: 90%;
  height: 35px;
  line-height: 35px;
  font-size: 25px;
  border-radius: 39px;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  margin: 15px auto;
  cursor: pointer;
  @media screen and (max-width: 1100px){
    display: none;
  }

}
.film-button:hover{
  background-color: $burgundy;
}



.white-shadow {
  -webkit-box-shadow: 6px 6px 20px -2px rgba(255,255,255,.3);
  -moz-box-shadow: 6px 6px 20px -2px rgba(255,255,255,.3);
  box-shadow: 6px 6px 20px -2px rgba(255,255,255,.3);
}

/*#######################################      
     END HELPER CLASS BLOCK
#######################################*/