body {
  padding: 0;
  margin: 0;
}
.flex-grid {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  @media screen and (max-width: 800px) {
    display: block;
  }
}

.flex-inner-grid{
  height: 100%;
  display: flex;
  flex-direction: row;
  @media screen and (max-width: 800px) {
    display: block;
  }
  img {
    max-width: 100%;
  }
  }

.flex-1 {
  flex: 1;
}
.flex-2{
  flex: 2;
}

.flex-3{
  flex: 3;
}

.flex-4{
  flex: 4;
}
.red{
  background-color: red;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}
.content {
  background-color: red;
  display: flex;
  flex-direction: row;
}

.second {
  background-color: green;
}

.history {
  background-color: blue;
  img {
    height: 200px;
  }
  height: 100vh;
  overflow: scroll;
}

.current-poster{
  max-width: 98%;
  margin: 15px;
}

.center {
  text-align: center;
  margin: 0 auto;
  align-self: center;
}

button {
  background-color: black ;
  color: white;
  box-shadow:none;
  border-radius: 25px;
  border: none;
  width: 20%;
  padding: 10px;
}
input {
  box-shadow:none;
  border-radius: 0px;
  border: 1px solid black;
  color: black;
  border-radius: 25px;
  width: 65%;
  margin: 0 0 0 2%;
  padding: 10px 0 10px 10px;

}

youtube {
  padding: 25px;
}
.v-pad-10{
  padding: 10px 0;
}
.pad-20{
  padding: 20px;
}

.uppercase{
  text-transform: uppercase;
}
/*TODO : remove six caps */

/* TYPE */
.fs-16{
  font-size: 16px;
  line-height: 16px;
}
.fs-22{
  font-size: 22px;
  line-height: 22px;

}
.fs-28{
  font-size: 28px;
  line-height: 28px;

}
.fs-32{
  font-size: 32px;
  line-height: 32px;

}
.fs-42{
  font-size: 42px;
  line-height: 42px;

}

.pad-mar-0{
  padding: 0;
}


/* FONTS */


.vampiro {
font-family: 'Vampiro One', cursive;
}
.peddana {
font-family: 'Peddana', serif;
}
.oswald {
font-family: 'Oswald', sans-serif;
}


